    * {
        border-radius: 0 !important;
        }
    #logo {
        max-width:32px;
        height: auto;
        position: relative;
        top: -20%;
    }

    #logo-text {
        color: white; 
        font-size:20px; 
        font-weight: bolder;
        position: absolute;
        top:15%;
    }

    .custom-nav {
        margin-bottom: 0;
        background-color: #2B2929;
        border-color: #41403D;
        overflow-x: hidden;
    }

    body {
        font-size: 17px;
        font-family: Arial;
        background-color: #333;
        color: white;

    }

    .content {
        margin: 20px 20px 20px 20px;
    }

.sidenav {
    height: 100%;
    width:15%;
    position: fixed !important;
    z-index: 1;
    overflow-x: hidden;
    font-size: 20px;
    background-color: #2B2929;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    position: center;
    text-decoration: none;
    color: #636363;
    display: block;

    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.widget {
    background-color: #41403D;
}

.widget-header {
    padding: 10px 10px 10px 10px;
    border-bottom: solid #333;
    border-width: 1px;
}

.widget-body {
    padding: 10px 10px 10px 10px;
}







/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FA9E4E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FA9E4E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
